body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #CA9BF7; /* Baby Purple */
    color: white;
    padding: 1rem 0;
    text-align: center;
}

main {
    padding: 2rem;
}

h1, h2 {
    color: #CA9BF7; /* Baby Purple */
}

section {
    margin-bottom: 2rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #e2e2e2;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 5px;
}

a {
    color: #F4C2C2; /* Baby Pink */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
main {
    padding: 2rem;
    padding-bottom: 5rem; /* Ajout de padding en bas pour éviter le chevauchement */
}

h1, h2 {
    color: #CA9BF7; /* Baby Purple */
}

section {
    margin-bottom: 2rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #e2e2e2;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 5px;
}

a {
    color: #F4C2C2; /* Baby Pink */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}